<div class="filter-tools">
    <form action="/annotationtool/toyaml" class="filters" id="filters">
        <div class="filter-groups">
                <div class="header">
                    <h4 class="title">Annotations</h4>
                        <!--<a href="" class="ajax-content icon-link filter-definitions"><i class="material-icons">info</i><span>Definitions</span></a>-->
                </div>
                <div class="filter-group">
                    {% for v in model.Vocabularies -%}
                    <div class="vocab">
                        {% if v.Expanded %}
                        <h4 class="filter-label accordion-trigger open">{{v.Vocab.Root.Label}}</h4>
                        <div class="accordion closed open">
                        {% else %}
                        <h4 class="filter-label accordion-trigger">{{v.Vocab.Root.Label}}</h4>
                        <div class="accordion closed">
                        {% endif %}
                        {% include "templates/checkbox.html" terms:v.Vocab.Root.Children prop:v.Vocab.Property %}
                        </div>
                    </div>
                    {% endfor -%}
                </div>
            </div>
        </div>
    </form>
    <div class="actions-vertical">
        <button class="action" title="Annotations to YAML" form="filters" rel="tooltip"><i class="material-icons vocab-to-yaml">&#xE5C8;</i></button>
        <!--<button class="action" title="Yaml to Annotations" form="fromyaml" rel="tooltip"><i class="material-icons yaml-to-vocab">&#xE5C4;</i></button>-->
    </div>
</div>
