source https://nuget.org/api/v2

nuget DotLiquid
nuget CsQuery
nuget FSharp.Data
nuget FSharp.Formatting
nuget Fuchu
nuget NEST
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget Suave
nuget Suave.DotLiquid
nuget Suave.Testing
nuget System.Net.Http
nuget Unquote

github fsharp/FAKE modules/Octokit/Octokit.fsx