
<div class="yaml-wrapper">
    <div class="yaml-editor" >
    <!--Setting:
    - "Primary care"
    - "Community"
    Age Group:
    - "Adults 65+ years"
    Condition Disease:
    - "Dementia"
    Service area:
    - "Primary care"
    - "Community health care"
    - "Social care"
    - "Critical care"-->
    <textarea placeholder="Start adding YAML &hellip;" id="text-selected"></textarea>
    <div class="alert alert-positive"><i class="material-icons">&#xE14C;</i><div class="message">Alert - positive</div></div>
    <div class="alert alert-warning"><i class="material-icons">&#xE14C;</i><div class="message">Alert - warning</div></div>
    <div class="alert alert-important"><i class="material-icons">&#xE14C;</i><div class="message">Alert - important</div></div>

    </div>
</div>
