<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="robots" content="noindex,nofollow">
  <meta content="#f6f6f6" name="msapplication-TileColor">
  <meta content="//cdn.nice.org.uk/V3/Content/nice/favicon-144.png" name="msapplication-TileImage">
  <link rel="shortcut icon" href="//cdn.nice.org.uk/V3/Content/nice/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="//cdn.nice.org.uk/V3/Content/nice/favicon-152.png">
  <!-- Standard scripts and stylesheet imports -->
  <link rel="stylesheet" type="text/css" href="/qs/annotations.css">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700,400italic,700italic|Material+Icons" rel="stylesheet" type="text/css">
  
  <title>BETA Quality Statements Annotation Tool | NICE</title>
</head>

<body class="app annotations">
    <nav>
        <div class="top-hat">
            <!--<div class="nav-link"><a href="#">Menu</a></div>-->
            <div class="logo"><a href=""><svg width="92" height="30"><image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/qs/Images/nice-logo.svg" src="/qs/Images/nice-logo.png" width="92" height="30"></image></svg><div class="app-title">BETA  – Quality Statements Annotation Tool</div></a></div>
            <!--<div class="nav-link"><a href="#">Sign in</a></div>-->
        </div>
    </nav>

    <main role="main">
        <div class="main" id="content">
          {% include "components/annotationsidebar/index.html" model:model %}
          {% include "components/annotationblock/index.html" model:model.blah2 %}
        </div>
    </main>
  <script src="/qs/components/clipboard/client/clipboard.min.js"></script>
  <script src="/qs/components/sidebar/client/script.js?version=1"></script>
  <script src="/qs/components/nojs/client/script.js?version=1"></script>
  <script src="/qs/components/jquery/client/script.js?version=1"></script>
  <script type="text/javascript">
   $(document).ready(function() {
    sidebar.selectCheckboxes(document.location.search);
    new Clipboard('.btn');
   });
  </script>
</body>
</html>

