<ul class="checkbox-list">
    {% for term in terms -%}
    <li class="checkbox">
        {% if term.Selected == true %}
            <input type="checkbox" name="{{ prop }}" value="{{ term.Uri }}" id="{{ term.Uri }}" class="term" checked>
        {% elsif term.Selected == false  %}
            <input type="checkbox" name="{{ prop }}" value="{{ term.Uri }}" id="{{ term.Uri }}" class="term">
        {% endif %}
        <label for="{{ term.Uri }}">{{ term.Label }}</label>
        {% include "checkbox.html" terms:term.Children prop:prop %}
    </li>
    {% endfor -%}
</ul>
