    <div class="banner">
        <h4>This is a BETA site, therefore content may be incomplete or out of date</h4>
        <p>We’d like to hear what you think of this site using our <span onclick="ShowDoorbellForm();">feedback form</span>. You can also <a href="http://labs.nice.org.uk/guidance-development/" target="_blank">read more about what we’re doing</a>. To access complete and up to date quality statements, you should continue to use the live <a href="http://www.nice.org.uk/standards-and-indicators/" target="_blank">Standards and Indicators website</a>.</p>
    </div>
