    <div class="banner">
        <h4>This is in BETA. This means we're testing it to see if it gives a better experience of finding quality statements.</h4>
        <p>
Some of the information might be out-of-date. 
        <a id="old-standards" href="http://www.nice.org.uk/standards-and-indicators/" target="_blank">View quality standards on the NICE website
        </a> for the latest information.
        <p>However, please still test this BETA site.  
            <a id="mailfeedback" href="mailto:nice@nice.org.uk">We need your feedback</a> to help us improve it.</p>
    </div>

