{% extends "page.html" %}

{% block head %}
    <title>KB - Home</title>
{% endblock %}

{% block content %}
    <main id="content" role="main">
        <h1>NICE Quality Standards</h1>
        <form action="/search">
            {% for item in model.Settings -%}
            {% include "checkbox.html" item:item %}
            {% endfor -%}

            {% for item in model.Ages -%}
            {% include "checkbox.html" item:item %}
            {% endfor -%}
        </form>
    </main>
{% endblock %}
