{% extends "page.html" %}

{% block head %}
    <title>KB - Home</title>
{% endblock %}

{% block content %}
    <main id="content" role="main">
        <h1>NICE Quality Standards</h1>
        <form action="/search">
            {% for vocab in model.Vocabularies -%}
              <div class="vocab">{{vocab.Name}}<br>
              {% for item in vocab.Terms -%}
              {% include "checkbox.html" item:item %}
              {% endfor -%}
              </div>
              <br>
            {% endfor -%}
            <input type="submit" Value="Search">
        </form>
    </main>
{% endblock %}
