<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <!-- Standard scripts and stylesheet imports -->
  <link rel="stylesheet" type="text/css" href="/qs/style.css">

  {% block head %}
  {% endblock %}
  <link href="//fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700,400italic,700italic|Material+Icons" rel="stylesheet" type="text/css" />
  <!-- Standard page design and scripts
  <link href="/favicon.ico" rel="icon" />-->
</head>
<body>
    <nav class="top-hat">
        <div class="logo">
            <a href=""><img src="/qs/Images/nice-logo.svg" alt="">
                <div class="app-title">BETA  – Quality Statements Discovery Tool</div>
            </a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>

  <script src="/qs/script.js"></script>
</html>
