<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="robots" content="noindex,nofollow">
  <meta content="#f6f6f6" name="msapplication-TileColor" />
  <meta content="//cdn.nice.org.uk/V3/Content/nice/favicon-144.png" name="msapplication-TileImage" />
  <link rel="shortcut icon" href="//cdn.nice.org.uk/V3/Content/nice/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="//cdn.nice.org.uk/V3/Content/nice/favicon-152.png">
  <!-- Standard scripts and stylesheet imports -->
  <!--[if lte IE 9]><link href="/qs/oldie.css" rel="stylesheet" type="text/css" /><![endif]-->
  <link href="//fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700,400italic,700italic|Material+Icons" rel="stylesheet" type="text/css" />

  {% block head %}

  {% endblock %}

</head>
<body class="app">
    <nav>
        <div class="top-hat">
            <!--<div class="nav-link"><a href="#">Menu</a></div>-->
            <div class="logo"><a href=""><svg width="92" height="30"><image xlink:href="/qs/Images/nice-logo.svg" src="/qs/Images/nice-logo.png" width="92" height="30" /></svg><div class="app-title">A new way to find quality statements</div></a></div>
            <!--<div class="nav-link"><a href="#">Sign in</a></div>-->
        </div>
    </nav>

    <main role="main">
        <div class="main" id="content">
            <input class="filters-toggle-input" id="filters-toggle-input" type="checkbox">

            <label for="filters-toggle-input" id="filters-toggle" class="filters-toggle-label">Filter menu</label>
            {% block content %}

            {% endblock %}
        </div>
    </main>
  {% block scripts %}
  {% endblock %}
  <script>
    jQuery(function() {
      jQuery.scrollDepth();
      });
    </script>
</body>
</html>
