<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="ie8 no-js"> <![endif]-->
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/qs/style.css">
  <!--[if lte IE 9]><link href="/qs/oldie.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<style>
    code { display: none; }
</style>

<body class="app">
    <nav>
        <div class="top-hat">
            <div class="logo"><a href="/qs"><svg width="92" height="30"><image xlink:href="/qs/Images/nice-logo.svg" src="/qs/Images/nice-logo.png" width="92" height="30" /></svg></a></div>
        </div>
    </nav>
    <main role="main">
        <div class="main detail" id="content">
            <div class="content-list-wrapper">
                <div class="card-list user-styles">
                    <div style="banner">
                        {% include "templates/disclaimer.html" %}
                    </div>
                    <div id="resource-content">
                        {{model.Content}}
                    </div>
                    <script src="/qs/components/googleanalytics/client/script.js"></script>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
