<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="ie8 no-js"> <![endif]-->
<html>
<head>
  <meta charset="utf-8" />
  <link href="//fonts.googleapis.com/css?family=Lato:200normal,200italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic" rel="stylesheet" type="text/css" />
    
  <link rel="stylesheet" type="text/css" href="/qs/style.css">
  <!--[if lte IE 9]><link href="/qs/oldie.css" rel="stylesheet" type="text/css" /><![endif]-->

  <link rel="stylesheet" media="screen" href="http://cdn.nice.org.uk/V2/Content/NICE.bootstrap.css" >
  <link href="https://www.nice.org.uk/Themes/NICE.Bootstrap/styles/nice/NICE.base-v1.10.4895.0.css" rel="stylesheet" type="text/css" />
</head>
<style>
    pre,code { display: none; }
</style>

<body class="app">
    {% include "templates/tophat.html" %}
    <main role="main">
        <div class="main detail" id="content">
            <div class="content-list-wrapper">
                <div class="card-list user-styles">
                    <div id="resource-content">
                        {{model.Content}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "templates/footer.html" %}
</body>


{% block scripts %}
    {{ model.Scripts }}
{% endblock %}
</html>
