{% extends "page.html" %}

{% block head %}
    <title>KB - Search</title>
{% endblock %}

{% block content %}
    {% include "sidebar.html" model:model %}

    <div class="card-list-wrapper">
        {% if model.Filters == empty %}
        <div class="message">Please select one or more filters.</div>
        {% endif %}
        <div class="card-list results">
        {% for item in model.Results -%}
        <div class="card result">
            <span class="card-excerpt abstract">{{item.Abstract}}</span>
            <a href="{{item.Uri}}">{{item.Uri}}</a>
        </div>
        {% endfor -%}
        </div>
    </div>
{% endblock %}
