<form action="/qs/search" class="filters" id="filters">
    <h3 class="filters-title">Filters</h3>
    <div class="filter-group">
        {% for vocab in model.Vocabularies -%}
        <div class="vocab">
            <h4 class="h4">{{vocab.Root.Label}}</h4>
            {% include "checkbox.html" terms:vocab.Root.Children prop:vocab.Property %}
        </div>
        {% endfor -%}
    </div>
    <div class="button-group">
        <input type="reset" class="button" Value="Reset">
        <input type="submit" class="button primary" Value="Search">
    </div>
</form>

