<form action="/qs/search" class="filters" id="filters">
    <h3 class="filters-title">Filters</h3>
    <div class="filter-group">
        {% for vocab in model.Vocabularies -%}
        <div class="vocab">
            <h4 class="filter-label accordion-trigger">{{vocab.Root.Label}}</h4>
            <div class="accordion closed no-js">
            {% include "checkbox.html" terms:vocab.Root.Children prop:vocab.Property %}
            </div>
        </div>
        {% endfor -%}
    </div>
    <div class="button-group">
        <a href="/qs" type="reset" class="button" Value="Reset">Reset</a>
        <input type="submit" class="button primary" Value="Search">
    </div>
</form>

