<form action="/qs/search" class="filters" id="filters">
    <h3 class="filters-title">Filters</h3>
    <div class="filter-group">
        {% for v in model.Vocabularies -%}
        <div class="vocab">
            {% if v.Expanded %}
            <h4 class="filter-label accordion-trigger open">{{v.Vocab.Root.Label}}</h4>
            <div class="accordion closed open no-js">
            {% else %}
            <h4 class="filter-label accordion-trigger">{{v.Vocab.Root.Label}}</h4>
            <div class="accordion closed no-js">
            {% endif %}
            {% include "checkbox.html" terms:v.Vocab.Root.Children prop:v.Vocab.Property %}
            </div>
        </div>
        {% endfor -%}
    </div>
    <div class="button-group">
        <a href="/qs" type="reset" class="button" Value="Reset">Reset</a>
        <input type="submit" class="button primary" Value="Search">
    </div>
</form>

