<div class="nice-tophat">
  <div class="nice-global" id="nice-global">
    <div class="tophat-inner">
      <div class="container">
        <div class="phase-banner">
          <span class="phase-banner__tag">
            <strong class="phase-tag phase-tag--beta">BETA</strong>
          </span>
          <span class="phase-banner__label">
            We're testing this new service to see if it provides a better experience of finding quality statements.
            <a id="mailfeedback" href="mailto:nice@nice.org.uk">Your feedback </a> will help us to improve it.
            The information was last updated on 28 February 2017 so some of the information might be out-of-date.
            <a id="old-standards" href="http://www.nice.org.uk/standards-and-indicators/" target="_blank"> View quality standards on the NICE website </a> for the latest information.
          </span>
        </div>
        <div class="tool-brand">
          A new way to find quality statements
        </div>
      </div>
    </div>
  </div>
</div>