<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NiceLogging/Environment" value="LOGGING_ENVIRONMENT" />
    <add key="NiceLogging/Application" value="discoverytool" />
    <add key="NiceLogging/AmqpUri" value="amqp://10.0.2.15:5672" />
  </appSettings>
</configuration>
