type project
owners
    Author not set
authors 
    Author not set
projectUrl
    http://github.com/nhsevidence/viewer
iconUrl
    https://raw.githubusercontent.com/nhsevidence/viewer/master/docs/files/img/logo.png
licenseUrl
    http://github.com/nhsevidence/viewer/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    A linked data viewer for the knowledge base project
description
    Description not set


