<div class="filter-tools">
    <form action="/search" class="filters" id="filters">
      {% if model.relevancy_test > 0 and model.relevancy_test < 3 %}
          <input type="hidden" name="relevancyTest" value="{{ model.relevancy_test}}">
      {% endif %}
        <div class="filter-groups">
                <div class="header">
                    <h4 class="title">Filters</h4>
                </div>
                <div class="filter-group">
                    {{model.Vocabularies}}
                </div>
            </div>
            <div class="button-group">
                <a href="/" type="reset" class="button" value="Reset">Clear all</a>
                <input type="submit" class="button primary" value="Apply filters">
            </div>
        </div>
    </form>
</div>
