<div class="card-list-wrapper">
    <div class="card-list results">
    <div class="card-list-header">
            <div id="toggle-filters" class="toggle-filters"></div>
            <div class="tags-list">
                <div id="tags_tagsinput" class="tagsinput" style="width: 100%; min-height: auto; height: auto;">
                    {% for tag in model.Tags -%}
                    <span class="tag">
                        <span class="tag-label">{{tag.Label}}</span>
                        <a class="tag-remove-link" href="/qs/search?{{tag.removal_query_string}}" title="Removing tag">x</a>
                    </span>
                    {% endfor -%}
                </div>
            </div>
            {% if model.total_count != empty and model.show_help == true %}
            <div class="counter">Total number of NICE quality statements: {{model.total_count}}</div>
            {% else %}
            <div class="counter">{{model.total_count}} filtered items</div>
            {% endif %}
    </div>
    {% include "templates/disclaimer.html" %}
    {% if model.Tags == empty and model.show_help == false %}
        <div class="message">Please select one or more filters.</div>
    {% endif %}

    {% for item in model.Results -%}
    <div class="card result">
        <a class="card" href="{{item.Uri}}">
            <div class="card-excerpt abstract">{{item.Abstract}}</div>
            <div class="card-source">
              <span class="pull-left">{{item.Title}}</span>
              <span class="pull-right">{{item.first_issued_date | date: "MMMM yyyy"}}</span>
            </div>
        </a>
    </div>
    {% endfor -%}

    {% if model.show_help == true %}
    <div class="intro">



	   <section class="panel">

    <div class="row">
      <div class="col-md-12">

     <h3 style="
    /* text-align: center; */
"> Quality statements give you priority areas for quality improvement.  </h3>

</div>

<div class="col-md-6">
  <h4>Find statements tailored to your:     </h4>

<ul>

<li> Service </li>

<li> Setting </li>

<li> Population of interest. </li>

   </ul>
</div>

  <div class="col-md-6">

<h4>  How it works: </h4>

<ul>

 <li> Select filters to target your specific area of interest. </li>
<li>    Click one of the results to access the full quality statement. </li>



  </ul>



</div>

       </div>

	   </section>




        <section class="panel">

          <div class="row">
            <div class="col-md-10">

			 <h3 style="
    /* text-align: center; */
"> Quality statements cover:  </h3>

			 <ul>
                        <li>Areas where there is variation in care</li>
                        <li>Topics across health and social care.</li>
                  </ul>

            <p>They also include information that that tells you how to measure progress against the statement.</p>



            </div>

          </div>




      </div>


    </div>
</div>
    {% endif %}

    </div>
</div>



